<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>浊心’blog | 大好时光</title>
    <meta name=”keyword” content="浊心,Linrb">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="statics/home_page.css">
    <link rel="stylesheet" type="text/css" href="statics/about.css">
    <script src="statics/jquery-3.1.1.js"></script>
    <link rel="icon" href="images/ice.ico" type="images/ice.icon">
    <style type="text/css">
            #about{    border-bottom:1px solid;color:red;}
            .my-site-list h2{cursor:pointer;}
    </style>
</head>
<body>
<div class="wrap">
    <header>
        <div class="blocks-wrap clearfix">
            <div class="block">
                <div class="block-inner clearfix">
                      <h1><a href="index.html">Linrb</a></h1>
                </div>
            </div>
            <div class="block">
                <div class="block-inner">
                    <nav class="global-nav clearfix" id="block_inner" >
                            <li> <a href="index.html" class="nav-link current" id="work">Work</a></li>
                            <li> <a href="about.html" class="nav-link" id="about">About</a></li>
                            <li> <a href="contact.html" class="nav-link" id="contact">Contact</a> </li>
                            <li> <a href="article.html" class="nav-link" id="article">Article</a> </li>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <div class="archive-head" style="background-color: #f6f6f6">
        <div class="blocks-wrap clearfix">
            <div class="block">
                <div class="block-inner">
                    <h1 class="page-title"> Archive </h1>
                </div>
            </div>
            <div class="block">
                <div class="block-inner">
                    <p class="case-intro"> I'm Linrb, and this is my permanent personal blog, which will record my past, present, and future. Go through the archive to see how my progressed and evolved.. </p>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class = "my-site-list">
        {{ content }}
    </div>
    
    
    <footer>
        <div class="blocks-wrap clearfix">
            <div class="block">
                <div class="block-inner">
                    <a href='about.html' class="next-project-link emphasize"> Archive &raquo; </a>
                    <p class="desc"> Check out the archive of my previous works. </p>
                </div>
            </div>
            <div class="block">
                <div class="block-inner">
                    <p class="copyright"> <br /> &copy; 2017 Linrb. All rights reserved. </p>
                </div>
            </div>
        </div>
    </footer>
</div>
<script>
$(document).ready(function(){
            
    $(".my-site-list h2").click(function(){
        $(this).next().slideToggle("slow");
        //$("h2").next().css("display","block");
      });
});
</script>
</body>
</html>

