.my-site-list{background-color:#f3f3f3;line-height:130%;padding:6rem;padding-bottom:6rem;padding-left:15rem;padding-right:15rem;font-size:100%}
.my-site-list ul li a{color:#002BB8 }
.my-site-list ul li a:hover{color:red;border-bottom: none; }
.my-site-list li{line-height:25px;    letter-spacing: 0.4px;}
.my-site-list h2{padding-bottom:9px;}
.my-site-list a[href^="http://"], .my-site-list a[href^="https://"]{
    background: transparent url(../images/icons.png) no-repeat scroll right -16px;
    padding: 0 16px 0 0;
    color:red
}
.my-site-list a[href^="http://"]:hover, .my-site-list a[href^="https://"]:hover{background-position: right -30px;}
hr{height: 0.2em;padding: 0;margin: 24px 0;background-color: #DBDDE0;    position: relative;width: 112%;left: -5%;}

#about{border-bottom:1px solid;color:red;}
.my-site-list h2{cursor:pointer;font-size: 1.1rem;}
#ShowLink{display:none;width:100%;height:100%;background-color:#f9f9f9;text-align:center;position:fixed;top:0;bottom:0;right:0;left:0;z-index:10;}
.aboutbar{width: 25px;height: 25px;border: 1px solid #2a2a2a;background-color: #2a2a2a;position: fixed;bottom: 45px;right: 80px;z-index: 1000;cursor: pointer;z-index:100;display:none;}
.aboutmenu{width: 16px;height: 2px;background-color: #ffffff;position: absolute;transform: translate3d(-50%,-50%,0);left: 50%;transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;}
#aboutmenu0{top: 30%;}
#aboutmenu1{top: 50%;}
#aboutmenu2{top: 70%;}
#ShowLink iframe{background-color:rgba(255, 255, 255, 0);}
@media (max-width: 800px){.aboutbar {right: 30px;width:30px;height:30px;border-radius: 50px;bottom:10px}}
html.mu {height: 100%;}
body.mu {overflow: hidden;height: 100%;}
            
@media (max-width: 1200px){.my-site-list{padding:5rem 9rem}}
@media (max-width: 1000px){.my-site-list{padding:5rem 8rem}}
@media (max-width: 900px){.my-site-list{padding:5rem 6rem}}
@media (max-width: 700px){.my-site-list{padding:5rem 5rem}}
@media (max-width: 600px){.my-site-list{padding:5rem 4rem}}
@media (max-width: 480px){.my-site-list{padding:5rem 1.5rem}.my-site-list hr{width:100%;position:static}}